<div class="ai-or-not text-center">
    <h2>AI or NOT?</h2>
    <p>Discover the authenticity of images with our cutting-edge AI technology.</p>
</div>

<!-- Steps 1-5 -->
<div class="row g-4">
    <div class="col-md-6">
        <div class="step-box">
            <div class="content text-center">
                <a class="nav-link text-white" asp-area="" asp-controller="Upload" asp-action="Index">
                    <i class="fas fa-upload step-icon"></i>
                    <h3>Step 1: Upload</h3>
                    <p>Start by uploading your image to our platform.</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="step-box">
            <div class="content text-center">
                <a class="nav-link text-white" asp-area="" asp-controller="Upload" asp-action="History">
                <i class="fas fa-spinner step-icon"></i>
                <h3>Step 2: Analysis</h3>
                <p>Our AI analyzes the image to detect manipulations.</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="step-box">
            <div class="content text-center">
                <i class="fas fa-check-circle step-icon"></i>
                <h3>Step 3: Report</h3>
                <p>Receive a detailed report on the image's authenticity.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="step-box">
            <div class="content text-center">
                <i class="fas fa-user-check step-icon"></i>
                <h3>Step 4: Feedback</h3>
                <p>Provide feedback on the analysis to help us improve.</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="step-box">
            <div class="content text-center">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Pricing">
                <i class="fas fa-rocket step-icon"></i>
                <h3>Step 5: Subscription</h3>
                <p>Explore our subscription plans for additional features and benefits.</p>
                </a>
            </div>
        </div>
    </div>
</div>