@model Pricing

<h1 class="h3 mb-3 text-center">Plans &amp; Pricing</h1>
<div class="row">
    <div class="col-md-10 col-xl-8 mx-auto">
        <h1 class="text-center">We have a plan for everyone</h1>
        <p class="lead text-center mb-4">Whether you're a business or an individual, no credit card required.</p>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="monthly">
                <div class="row py-4 justify-content-center">
                    <div class="col-sm-4 mb-3 mb-md-0">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column">
                                <div class="mb-4">
                                    <h5>Free</h5>
                                    <span class="display-4">$0</span>
                                </div>
                                <h6>Includes:</h6>
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        1 users
                                    </li>
                                    <li class="mb-2">
                                        100 MB storage
                                    </li>
                                    <li class="mb-2">
                                        1 MB max file size
                                    </li>
                                </ul>
                                <div class="mt-auto">
                                    <a href="#" class="btn btn-lg btn-primary" style="background-color: #76b852;border-color: #76b852">Try it for free</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-3 mb-md-0">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column">
                                <div class="mb-4">
                                    <h5>Plus</h5>
                                    <span class="display-4">$20</span>
                                    <span>/mo</span>
                                </div>
                                <h6>Includes:</h6>
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        Unlimited users
                                    </li>
                                    <li class="mb-2">
                                        250 GB storage
                                    </li>
                                    <li class="mb-2">
                                        Priority support
                                    </li>
                                    <li class="mb-2">
                                        Security policy
                                    </li>
                                </ul>
                                <div class="mt-auto">
                                    <a href="#" class="btn btn-lg btn-outline-success" style="color: #76b852;border-color: #76b852">Purchase</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>